@media screen and (max-width: 1000px) {
    .rbc-toolbar {
        margin-left: 15% !important;
        margin-right: 15% !important;
    }
    .rbc-calendar {
        height: 100vh !important;
    }
}

.buttonwidth {
    width: 70%;
}